<div class="row" fadey="300">
  <div class="col-md-12">
    <h2>Add Link</h2>
    <form id="add-link" class="form-horizontal" role="form" ng-submit="addLink(url, title, tags, true)">
      <div class="form-group">
        <label class="col-sm-2 control-label">URL</label>
        <div class="col-sm-10">
          <input ng-model="url" type="url" class="form-control" autofocus="autofocus">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          <input ng-model="text" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Tags (separate with space)</label>
        <div class="col-sm-10">
          <input ng-model="tags" type="text" class="form-control" placeholder="indie game lua">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success">Submit</button>
          <input type="reset" class="btn btn-warning" value="Reset Form">
        </div>
      </div>
    </form>
  </div>
</div>
