<div class="row-fluid" fadey="300">
    <div class="span12">
        <h2>Add Link</h2>
        <form id="add-link" ng-submit="addLink(url, title, tags, true)">
            <fieldset>
                <label>URL</label>
                <input class="input-xxlarge" ng-model="url" type="text" autofocus>
                <label>Title</label>
                <input class="input-xxlarge" ng-model="title" type="text">
                <label>Tags (separate with space)</label>
                <input placeholder="indie game lua" class="input-xlarge" ng-model="tags" type="text">
                </label>
                <br />
                <button type="submit" class="btn btn-success">Submit</button>
                <input type="reset" class="btn btn-warning" value="Reset Form">
            </fieldset>
        </form>
    </div>
</div>
