<div class="row" fadey="400">
    <div id="menu" class="col-md-12 visible-desktop">
        <div id="nav-bar">
            <h2>Search</h2>
            <form class="form-inline form-search" role="form">
              <div class="form-group">
                <div class="input-group">
                  <input ng-model="query" type="text" class="form-control search-query" name="search"id="search" placeholder="Python programming..." autofocus="autofocus">
                </div>
              </div>
              <button type="submit" class="btn btn-default" ng-click="search(query)">Search</button>
            </form>
        </div>
    </div>
    <div class="col-md-12">
        <h2 fadey="500">Links <span class="badge" style="vertical-align: middle">{{ info.count }}</span></h2>
        <ul ng-show="links.length >= 1" id="links-list" class="list-group">
            <li class="list-group-item" data-id="{{ link.id }}" ng-repeat="link in links | orderBy:'id':true" fadey="500">
                <a target="_blank" href="{{ link.url }}"><strong>{{ link.title }}</strong></a>
                <span class="text-muted small" ng-show="link.tags"> {{ link.tags }}</span>
                <span class="pull-right">
                    <span class="label label-default">Added: {{ link.added }}</span>
                    <a href="#/edit/{{ link.id }}" class="label label-primary">Edit</a>
                    <a href="" ng-click="remove($index)" class="label label-warning">Remove</a>
                </span>
            </li>
        </ul>
        <p ng-show="links.length == 0">No links, sorry...</p>
        <button fadey="700" ng-show="!inSearch && info.next" id="load-more" class="btn btn-primary" ng-click="loadMore()" style="width:100%;margin-bottom:10px"> Load More </button>
    </div>
</div>
