<div class="row-fluid">
    <div class="span12">
        <h2>Add Links</h2>
        <form ng-submit="addLink()">
            <fieldset>
                <label>URL</label>
                <input class="input-xxlarge" ng-model="linkUrl" type="text" placeholder="">
                <label>Title</label>
                <input class="input-xxlarge" ng-model="linkTitle" type="text" placeholder="">
                <label>Tags (separate with space)</label>
                <input class="input-xlarge" ng-model="linkTags" type="text" placeholder="">
                </label>
                <br />
                <button type="submit" class="btn">Submit</button>
            </fieldset>
        </form>
    </div>
</div>
