<div class="row-fluid">
    <div class="span3">
        <div data-spy="affix" data-offset-top="200">
            <h2>Search</h2>
            <form class="form-search">
                <div class="input-append">
                    <input ng-model="query" type="text" class="span8 search-query">
                    <button type="submit" class="btn" ng-click="search(search-query)">Search</button>
                </div>

            </form>
            <div ng-controller="LinkAddCtrl">
                <h2>Add Link</h2>
                <form ng-submit="addLink()">
                    <fieldset>
                        <label>URL</label>
                        <input class="input-xlarge" ng-model="linkUrl" type="text" placeholder="">
                        <label>Title</label>
                        <input class="input-xlarge"ng-model="linkTitle" type="text" placeholder="">
                        <label>Tags (separate with space)</label>
                        <input class="input-xlarge" ng-model="linkTags" type="text" placeholder="">
                        </label>
                        <br />
                        <button type="submit" class="btn btn-success">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="span9">
        <h2>Links ({{ info.count }})</h2>
        <ul id="links-list" class="unstyled">
            <li data-id="{{ link.id }}" ng-repeat="link in links | orderBy:'id':true" fadey="500">
                <a target="_blank" href="{{ link.url }}">{{ link.title }}</a> (<a href="#/edit/{{ link.id }}"><i class="icon-edit"></i></a> | <a href="" ng-click="remove($index)"><i class="icon-remove"></i></a>) - <span class="muted">Added: {{ link.added }}</span> <span class="muted" ng-show="link.tags">- Tags: {{ link.tags }}</span>
            </li>
        </ul>
        <button id="load-more" class="btn btn-primary" ng-click="loadMore()" style="width: 100%"> Load More </button>
    </div>
</div>
