.setup {
  width: 350px;
  margin: 0 auto;
  padding-top: 50px;
}

.setup h1 {
  text-align: center;
}

.setup h2 {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}

.setup p {
  text-align: center;
}

.setup .control-group input {
  width: 210px;
}


.setup .control-group {
  position: relative;
}
