<!doctype html>
<html lang="en" >
<head>
    <title>Links</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/links/css/links.css">
    <link rel="stylesheet" type="text/css" href="/static/links/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/links/css/bootstrap-responsive.min.css">
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
